In [1]:
import urllib.request

<h4> Open the url using urllib.request and put the HTML into the page variable </h4>

In [2]:

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)

<h4>Import the BeautifulSoup library so we can parse HTML and XML documents</h4>

In [3]:
from bs4 import BeautifulSoup

Parse the HTML from our URL into the BeautifulSoup parse tree format

In [4]:
soup = BeautifulSoup(page, "lxml")

print(soup.prettify()) --->  to see the html code

In [5]:
soup.title.string

'List of postal codes of Canada: M - Wikipedia'

Extracting the table from the Html above

In [6]:
all_tables = soup.find_all("table")
#all_tables

 To bring back the table data for this particular table that we are looking for  against the class id

In [7]:
right_table = soup.find('table', class_='wikitable sortable')
#right_table

<h4> Extracting the cells and rows from the table and assigning to the relevant columns </h4>

In [8]:
PostalCode = []
Borough = []
Neighborhood = []

for row in right_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells)==3:
        PostalCode.append(cells[0].find(text=True))
        Borough.append(cells[1].find(text=True))
        Neighborhood.append(cells[2].find(text=True))

<h4> Converting the above into a DataFrame </h4>

In [9]:
import pandas as pd
df = pd.DataFrame(PostalCode,columns = ['Postal Code'] )
df['Borough']= Borough
df['Neighborhood'] = Neighborhood
df.head()

  Postal Code            Borough                Neighborhood
0        M1A
      Not assigned
               Not assigned

1        M2A
      Not assigned
               Not assigned

2        M3A
        North York
                  Parkwoods

3        M4A
        North York
           Victoria Village

4        M5A
  Downtown Toronto
  Regent Park, Harbourfront

In [10]:
df.dtypes

Postal Code     object
Borough         object
Neighborhood    object
dtype: object

In [11]:
import numpy as np

<h4> Ignore cells with a borough that is "Not assigned" </h4>

In [12]:
na = "Not assigned"

df_filtered = df[df.Borough.str.contains(na)==False].reset_index()

In [13]:
df_filtered = df_filtered.drop('index',axis=1)
df_filtered.head()

  Postal Code            Borough                                  Neighborhood
0        M3A
        North York
                                    Parkwoods

1        M4A
        North York
                             Victoria Village

2        M5A
  Downtown Toronto
                    Regent Park, Harbourfront

3        M6A
        North York
             Lawrence Manor, Lawrence Heights

4        M7A
  Downtown Toronto
  Queen's Park, Ontario Provincial Government

In [14]:
df_filtered['Postal Code'].unique()

array(['M3A\n', 'M4A\n', 'M5A\n', 'M6A\n', 'M7A\n', 'M9A\n', 'M1B\n',
       'M3B\n', 'M4B\n', 'M5B\n', 'M6B\n', 'M9B\n', 'M1C\n', 'M3C\n',
       'M4C\n', 'M5C\n', 'M6C\n', 'M9C\n', 'M1E\n', 'M4E\n', 'M5E\n',
       'M6E\n', 'M1G\n', 'M4G\n', 'M5G\n', 'M6G\n', 'M1H\n', 'M2H\n',
       'M3H\n', 'M4H\n', 'M5H\n', 'M6H\n', 'M1J\n', 'M2J\n', 'M3J\n',
       'M4J\n', 'M5J\n', 'M6J\n', 'M1K\n', 'M2K\n', 'M3K\n', 'M4K\n',
       'M5K\n', 'M6K\n', 'M1L\n', 'M2L\n', 'M3L\n', 'M4L\n', 'M5L\n',
       'M6L\n', 'M9L\n', 'M1M\n', 'M2M\n', 'M3M\n', 'M4M\n', 'M5M\n',
       'M6M\n', 'M9M\n', 'M1N\n', 'M2N\n', 'M3N\n', 'M4N\n', 'M5N\n',
       'M6N\n', 'M9N\n', 'M1P\n', 'M2P\n', 'M4P\n', 'M5P\n', 'M6P\n',
       'M9P\n', 'M1R\n', 'M2R\n', 'M4R\n', 'M5R\n', 'M6R\n', 'M7R\n',
       'M9R\n', 'M1S\n', 'M4S\n', 'M5S\n', 'M6S\n', 'M1T\n', 'M4T\n',
       'M5T\n', 'M1V\n', 'M4V\n', 'M5V\n', 'M8V\n', 'M9V\n', 'M1W\n',
       'M4W\n', 'M5W\n', 'M8W\n', 'M9W\n', 'M1X\n', 'M4X\n', 'M5X\n',
       'M8X\n', 'M4Y\n', 'M7Y\n', 'M8Y\n', 'M8Z\n'], dtype=object)

Checking for the Neighborhood column if it is "Not assigned"

In [15]:
df_filtered['Neighborhood'].str.contains("Not assigned ").sum()

0

<h4> Printing the number of rows in the Data set </h4>

In [16]:
#printing the number of rows
df_filtered.shape[0]

103

In [48]:
#!pip install geocoder

In [49]:
#import geocoder

<h1> Start of Part II of the Assignment </h1>

<h4> Extracting the Coordinates file </h4>

In [19]:
import pandas as pd
post = pd.read_csv("C:/Users/archa/Documents/Courseera Learning - Data Science/Capstone Project/Geospatial_Coordinates.csv")
post.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [30]:
df_filtered['Postal Code'].head()

0    M3A

1    M4A

2    M5A

3    M6A

4    M7A

Name: Postal Code, dtype: object

<h4>Cleaning the data for column Postal Codes </h4>

In [37]:
df_filtered=df_filtered.replace('\n','',regex=True)

In [39]:
df_filtered['Postal Code']

0    M3A
1    M4A
2    M5A
3    M6A
4    M7A
Name: Postal Code, dtype: object

<h4>Removing space in the start of the string </h4>

In [43]:
df_filtered['Neighborhood'] = df_filtered['Neighborhood'].str.strip()
df_filtered['Postal Code'] = df_filtered['Postal Code'].str.strip()
df_filtered['Borough'] = df_filtered['Borough'].str.strip()

<h2> Merging the two tables - Post and df_filtered </h2>

In [46]:
df_merged = pd.merge(df_filtered,post,on='Postal Code')
df_merged.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

<h4> Saving the above datatable to csv for the next part  </h4>

In [47]:
df_merged.to_csv('df_final.csv')