In [3]:
import urllib.request

Open the url using urllib.request and put the HTML into the page variable

In [5]:

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)

Import the BeautifulSoup library so we can parse HTML and XML documents

In [6]:
from bs4 import BeautifulSoup

Parse the HTML from our URL into the BeautifulSoup parse tree format

In [7]:
soup = BeautifulSoup(page, "lxml")

print(soup.prettify()) --->  to see the html code

In [28]:
soup.title.string

'List of postal codes of Canada: M - Wikipedia'

Extracting the table from the Html above

In [8]:
all_tables = soup.find_all("table")
#all_tables

 To bring back the table data for this particular table that we are looking for  against the class id

In [9]:
right_table = soup.find('table', class_='wikitable sortable')
#right_table

Extracting the cells and rows from the table and assigning to the relevant columns

In [10]:
PostalCode = []
Borough = []
Neighborhood = []

for row in right_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells)==3:
        PostalCode.append(cells[0].find(text=True))
        Borough.append(cells[1].find(text=True))
        Neighborhood.append(cells[2].find(text=True))

Converting the above into a DataFrame

In [11]:
import pandas as pd
df = pd.DataFrame(PostalCode,columns = ['Postal Code'] )
df['Borough']= Borough
df['Neighborhood'] = Neighborhood
df.head()

  Postal Code            Borough                Neighborhood
0        M1A
      Not assigned
               Not assigned

1        M2A
      Not assigned
               Not assigned

2        M3A
        North York
                  Parkwoods

3        M4A
        North York
           Victoria Village

4        M5A
  Downtown Toronto
  Regent Park, Harbourfront

In [12]:
df.dtypes

Postal Code     object
Borough         object
Neighborhood    object
dtype: object

In [13]:
import numpy as np

Ignore cells with a borough that is "Not assigned"

In [14]:
na = "Not assigned"

df_filtered = df[df.Borough.str.contains(na)==False].reset_index()

In [15]:
df_filtered = df_filtered.drop('index',axis=1)
df_filtered.head()

  Postal Code            Borough                                  Neighborhood
0        M3A
        North York
                                    Parkwoods

1        M4A
        North York
                             Victoria Village

2        M5A
  Downtown Toronto
                    Regent Park, Harbourfront

3        M6A
        North York
             Lawrence Manor, Lawrence Heights

4        M7A
  Downtown Toronto
  Queen's Park, Ontario Provincial Government

In [16]:
df_filtered['Postal Code'].unique()

array(['M3A\n', 'M4A\n', 'M5A\n', 'M6A\n', 'M7A\n', 'M9A\n', 'M1B\n',
       'M3B\n', 'M4B\n', 'M5B\n', 'M6B\n', 'M9B\n', 'M1C\n', 'M3C\n',
       'M4C\n', 'M5C\n', 'M6C\n', 'M9C\n', 'M1E\n', 'M4E\n', 'M5E\n',
       'M6E\n', 'M1G\n', 'M4G\n', 'M5G\n', 'M6G\n', 'M1H\n', 'M2H\n',
       'M3H\n', 'M4H\n', 'M5H\n', 'M6H\n', 'M1J\n', 'M2J\n', 'M3J\n',
       'M4J\n', 'M5J\n', 'M6J\n', 'M1K\n', 'M2K\n', 'M3K\n', 'M4K\n',
       'M5K\n', 'M6K\n', 'M1L\n', 'M2L\n', 'M3L\n', 'M4L\n', 'M5L\n',
       'M6L\n', 'M9L\n', 'M1M\n', 'M2M\n', 'M3M\n', 'M4M\n', 'M5M\n',
       'M6M\n', 'M9M\n', 'M1N\n', 'M2N\n', 'M3N\n', 'M4N\n', 'M5N\n',
       'M6N\n', 'M9N\n', 'M1P\n', 'M2P\n', 'M4P\n', 'M5P\n', 'M6P\n',
       'M9P\n', 'M1R\n', 'M2R\n', 'M4R\n', 'M5R\n', 'M6R\n', 'M7R\n',
       'M9R\n', 'M1S\n', 'M4S\n', 'M5S\n', 'M6S\n', 'M1T\n', 'M4T\n',
       'M5T\n', 'M1V\n', 'M4V\n', 'M5V\n', 'M8V\n', 'M9V\n', 'M1W\n',
       'M4W\n', 'M5W\n', 'M8W\n', 'M9W\n', 'M1X\n', 'M4X\n', 'M5X\n',
       'M8X\n', 'M4Y\n', 'M7Y\n', 'M8Y\n', 'M8Z\n'], dtype=object)

Checking for the Neighborhood column if it is "Not assigned"

In [17]:
df_filtered['Neighborhood'].str.contains("Not assigned ").sum()

0

Printing the number of rows in the Data set

In [18]:
#printing the number of rows
df_filtered.shape[0]

103